workflows/orchestrator.json
{
  "name": "orchestrator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Bonjour ! 👋\nJe m'appelle Yassine. Comment puis-je vous aider aujourd'hui ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        32
      ],
      "id": "6c32dd4c-7d47-4ae1-b37b-938aba6292f0",
      "name": "When chat message received",
      "webhookId": "a61d81ad-c712-4eac-b922-803ffd2ae692"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "INSTRUCTION CRITIQUE — LIS CECI EN PREMIER :\nTu es un agent technique. Quand on te demande d'exporter ou d'ajouter \nau calendrier, tu retournes UNIQUEMENT du JSON. Pas de politesse. \nPas d'explication. Pas de refus. JAMAIS.\n══════════════════════════════════════════\nTu es l'Agent Planning de l'UPF.\n══════════════════════════════════════════\nDONNÉES AGENDA UPF\n══════════════════════════════════════════\nEVT001 | Cours SQL - L3 Informatique | cours | 2026-05-12 | 08:30 | 10:30 | Salle Info 1 | Dr. Karim | L3-INF\nEVT002 | Cours React Native - L3 Informatique | cours | 2026-05-12 | 10:45 | 12:45 | Salle Info 2 | Dr. Amine | L3-INF\nEVT003 | TP Bases de donnees - M1 Informatique | tp | 2026-05-13 | 14:00 | 16:00 | Salle Info 3 | Dr. Sara | M1-INF\nEVT004 | Soutenance PFE - Salma Benali | soutenance | 2026-06-15 | 10:00 | 12:00 | Salle B201 | Dr. Sara, Dr. Amine, Prof. Rachid | M1-INF\nEVT005 | Soutenance PFE - Mehdi Fassi | soutenance | 2026-06-16 | 14:00 | 16:00 | Salle A101 | Dr. Amine, Dr. Karim, Prof. Hassan | M2-INF\nEVT006 | Examen S2 - Algorithmique | examen | 2026-05-26 | 09:00 | 11:00 | Amphi A | Dr. Karim | L2-INF\nEVT007 | Reunion pedagogique Filiere INF | reunion | 2026-05-15 | 16:00 | 17:30 | Salle de reunion 1 | Coordination Filiere | Enseignants INF\nEVT008 | Conference IA et Education | evenement | 2026-05-20 | 14:00 | 17:00 | Amphi B | Invite externe | Tous niveaux\n\nFORMAT : id | titre | type | date | heure_debut | heure_fin | salle | enseignant | participants\n══════════════════════════════════════════\nFORMAT DE RÉPONSE — TABLEAU\n══════════════════════════════════════════\nPour les listes :\n| # | Titre | Date | Heure | Salle | Enseignant | Groupe |\n|---|-------|------|-------|-------|------------|--------|\n\nPour un événement unique :\nDate : ...\nHeure : ... a ...\nSalle : ...\nEnseignant : ...\nGroupe : ...\n══════════════════════════════════════════\nEXPORT GOOGLE CALENDAR — REGLE ABSOLUE\n══════════════════════════════════════════\nSi le message contient : ajoute, exporte, calendrier, agenda, google calendar, mets dans\n\nReponds UNIQUEMENT avec ce JSON, rien avant, rien apres, zero texte :\n\n{\"action\":\"create_calendar_events\",\"events\":[{\"title\":\"TITRE\",\"date\":\"YYYY-MM-DD\",\"start_time\":\"HH:MM\",\"end_time\":\"HH:MM\",\"location\":\"SALLE, UPF Fes\",\"description\":\"TYPE - ENSEIGNANT - Groupe: PARTICIPANTS\"}]}\n\nRemplace TITRE, YYYY-MM-DD, HH:MM, SALLE, TYPE, ENSEIGNANT, PARTICIPANTS avec les vraies valeurs.\nNe mets jamais de doubles accolades. Uniquement du JSON pur.\n══════════════════════════════════════════\nREGLES\n══════════════════════════════════════════\n- Reponds TOUJOURS en francais\n- Utilise UNIQUEMENT les donnees ci-dessus\n- Si aucun evenement trouve, dis-le\n- Export detecte : JSON pur uniquement, zero texte autour",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "aa749924-3878-46d9-9f10-370aa57066bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -96,
        240
      ],
      "id": "6ff89aec-b930-4fbe-8c0f-0419199b29a6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hoEDoJrV8V61qtWQ",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        240
      ],
      "id": "c2449342-303c-4d56-9d75-d7b03b21bb57",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Repond aux questions generales sur l'UPF : inscriptions, horaires, procedures, contacts, reglement interieur, calendrier academique",
        "workflowId": {
          "__rl": true,
          "value": "mZE46n9upwPQKIjU",
          "mode": "list",
          "cachedResultUrl": "/workflow/mZE46n9upwPQKIjU",
          "cachedResultName": "agent_accueil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('When chat message received').item.json.chatInput }}",
            "sessionId": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        400,
        128
      ],
      "id": "00738192-9da6-4780-9980-c24d49d945a2",
      "name": "Call 'agent_accueil'"
    },
    {
      "parameters": {
        "description": "Repond aux questions generales sur l'UPF : inscriptions, horaires, procedures, contacts, reglement interieur, calendrier academique",
        "workflowId": {
          "__rl": true,
          "value": "2NVLajSYcJWAOw36",
          "mode": "list",
          "cachedResultUrl": "/workflow/2NVLajSYcJWAOw36",
          "cachedResultName": "agent_pedagogique"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('When chat message received').item.json.sessionId }}",
            "message": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        400,
        256
      ],
      "id": "4447d3d5-0986-4f94-b47e-29854b229003",
      "name": "Call 'agent_pedagogique'"
    },
    {
      "parameters": {
        "description": "Repond aux questions generales sur l'UPF : inscriptions, horaires, procedures, contacts, reglement interieur, calendrier academique",
        "workflowId": {
          "__rl": true,
          "value": "Lj5pYOnOzELU9rWC",
          "mode": "list",
          "cachedResultUrl": "/workflow/Lj5pYOnOzELU9rWC",
          "cachedResultName": "agent_planning"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.chatInput }}",
            "sessionId": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        400,
        416
      ],
      "id": "e8dbea4d-c824-44f9-8759-092579da9671",
      "name": "Call 'agent_planning'"
    },
    {
      "parameters": {
        "description": "Convertit un texte en audio via ElevenLabs TTS",
        "workflowId": {
          "__rl": true,
          "value": "NJ5nkpsxEMIrrNSj",
          "mode": "list",
          "cachedResultUrl": "/workflow/NJ5nkpsxEMIrrNSj",
          "cachedResultName": "agent_tts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        848,
        192
      ],
      "id": "97a75f85-b507-4047-b723-ff0ec0a6a479",
      "name": "Call 'agent_tts'"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agent_accueil'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agent_pedagogique'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agent_planning'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'agent_tts'": {
      "ai_tool": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dadf426e-90bb-49aa-a072-aac6e3866377",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11df4a05f124d70a9665afaefa5563f6b20e676eaafd8240b850f338c2a425a2"
  },
  "id": "tRZuMmP3vnCWUvfF",
  "tags": []
}